/*-----------------
VARIABLES
------------------*/
:root {
  --white: #f8f8f8;
  --blue: #0000ff;
  --blue-dark: #18182c;
  --sleak-sky: #85d2ff;
  --sleak-bold: hsla(45, 5%, 86%, 100%);
  --sleak-medium: hsla(40, 5%, 89%, 100%);
  --pink-light: hsl(292, 57%, 97%);
  --blue-eade: hsla(214, 10%, 86%, 100%);
  --white-alpha-75: rgba(255, 255, 255, 0.6);
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-36: rgba(255, 255, 255, 0.36);
  --backdrop-filter-blur: blur(5px);

  --default-font: "DM Sans", -apple-system, BlinkMacSystemFont, "DM Sans",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --text-normal: ;
  --text-muted: ;
  --text-faint: ;
}

@media screen and (max-width: 1002px) {
  div.blog-grid {
    grid-template-columns: 1fr;
  }
  div.posts-area {
    margin-left: unset;
  }
}

@media screen and (max-width: 778px) {
  div.posts-area {
    margin-left: unset;
    grid-template-columns: 1fr;
  }
}

.image-full {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

div {
  display: block;
}

.blog-post-block {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
  -o-object-fit: cover;
  vertical-align: bottom;
}

.header-img {
  width: 100%;
  overflow: hidden;
  height: 550px;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-flex: 1;
  margin: 0 8px 8px 0;
  text-decoration: none;
  position: relative;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
}

.blog-section {
  background-color: unset;
  border: unset;
  padding: 100px 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: 220px auto;
}

.content-item-100 {
  width: -webkit-fill-available;
  height: 100%;
  padding: 30px;
  transition: 300ms ease-in-out;
  text-decoration: none;
  background-color: var(--white-alpha-75);
  border: 1px solid var(--white-alpha-40);
}

.inline-block-w100,
.blog-post-block {
  width: 100%;
}

.side-bar {
  border-right: 1px solid #fffefc;
}

.sticky-block {
  position: sticky;
  top: 198px;
}

.sticky-inner {
  position: relative;
}

.sticky-block::after {
  position: absolute;
  content: "";
  display: block;
  right: -1px;
  top: -100px;
  height: 100px;
  width: 1px;
  background: #fffefc;
}

.next-image {
  visibility: inherit;
  position: absolute;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.full-posts-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px 60px;
  padding-top: 26px;
}

.posts-area {
  margin-left: 56px;
}

.full-posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 60px;
  padding-top: 26px;
}

.tag-top {
  color: #757596;
  margin-bottom: 8px;
}

.blog-spacer {
  height: 6px;
}

.admin-button-container {
  display: flex;
  margin: 0;
  width: 58%;
  justify-content: space-between;
  margin-top: 20px;
}

.sticky-inner ul,
.sticky-inner p {
  font-size: 16px;
  list-style-type: none;
  margin-top: 8px;
}
