/*VARIABLES*/

:root {
  --header-height: 2.56rem;
  --title-color: #262626;
  --text-color: #232a39;
  --text-color-light: #414657;
  --container-bg: #f8f8f8;
  --accent-color: #0c5ae4;
  --body-bg: #ffffff;

  --default-font: Helvetica;
  --accent-font: Lora;
  --mono-font: DM Mono;
  --h1-size: 2.96rem;
  --h2-size: 1.26rem;
  --h3-size: 1.156rem;
  --text-normal: 1.002rem;
  --text-medium: 0.986rem;
  --text-small: 0.876rem;
  --text-smaller: 0.824rem;
  --line-height: 1.75rem;

  --bold-weight: 800;
  --bold-medium: 700;
  --bold-small: 400;

  --margin-1: 0.56rem;
  --margin-2: 1.02rem;
  --margin-3: 1.72rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  color: var(--text-color);
  font-family: var(--default-font);
  font-size: var(--text-normal);
  background-color: var(--body-bg);
  margin: 0 0 var(--header-height) 0;
}

body.scale-cv {
  --h1-size: 1.998rem;
  --h2-size: 0.998rem;
  --h3-size: 0.865rem;
  --text-normal: 0.813rem;
  --text-medium: 0.813rem;
  --text-small: 0.75rem;
  --text-smaller: 0.688rem;

  --line-height: 1.25rem;
}

body.scale-cv .social-link {
  color: var(--text-color);
}

.scale-cv .generate-pdf {
  display: none;
}

.scale-cv .main-container {
  max-width: 846px;
}

.scale-cv .section {
  padding: 0.5rem 0 0.8rem;
}

.scale-cv .section-title {
  margin-bottom: 0.75rem;
}

.scale-cv .resume-top,
.scale-cv .resume-left,
.scale-cv .resume-right {
  padding: 0 1rem;
}

.scale-cv .home-container {
  gap: 1.5rem;
  margin-top: var(--margin-1);
}

.scale-cv .home-data {
  gap: 0.25rem;
}

.scale-cv .home-information,
.scale-cv .social-container {
  gap: 0.25rem;
}

.scale-cv .social-container {
  font-size: 1rem;
}

.scale-cv a.social-link {
  font-size: 0.76rem;
}

.scale-cv .social-icon,
.scale-cv .interest-icon {
  font-size: 0.8rem;
}

.scale-cv .education-container,
.scale-cv .experience-container {
  gap: 1rem;
}

.scale-cv .education-data,
.scale-cv .experience-data {
  gap: 0.25rem;
}

.scale-cv .skills-name {
  margin-bottom: var(--margin-1);
}

.scale-cv .interests-container {
  column-gap: 2.5rem;
}

li {
  font-size: var(--text-normal);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul ol,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--bold-medium);
}

h1 {
  font-family: var(--accent-font);
}

h3 {
  font-size: var(--h3-size);
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  padding-left: 20px;
}

ul,
p,
.education-studies {
  font-size: var(--text-normal);
  line-height: var(--line-height);
}

a {
  transition: 200ms ease-in-out;
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  color: var(--accent-color);
}

header {
  position: relative;
}

.section {
  padding: 1rem 0;
}

.section-title {
  text-align: left;
  font-size: var(--h2-size);
  color: var(--accent-color);
  font-family: var(--accent-font);
  margin-bottom: var(--margin-3);
  font-weight: var(--bold-medium);
}

header,
.main-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--margin-3);
  margin-right: var(--margin-3);
}

.section-grid {
  display: grid;
  gap: 1rem;
}

.home-container {
  gap: 3rem;
}

.home-data {
  gap: 0.5rem;
}

.skills-data {
  margin-bottom: var(--margin-2);
}

.home-title {
  font-size: var(--h1-size);
}

.home-profession {
  font-size: var(--h3-size);
}

.home-address {
  gap: 1rem;
}

.home-information {
  display: flex;
  align-items: left;
  font-size: var(--text-small);
}

.download-link {
  top: 12px;
  right: -10px;
  position: absolute;
}

.home-button-download {
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--title-color);
  font-weight: var(--bold-medium);
  border: 2px solid var(--text-color-light);
}

.download-link svg {
  vertical-align: middle;
  display: inline-block;
}

.home-button-download:hover {
  background-color: var(--accent-color);
  color: var(--container-bg);
}

.social-container {
  grid-template-rows: max-content;
  gap: 1rem;
}

.social-link {
  display: inline-flex;
  align-items: center;
  font-family: var(--mono-font);
  font-size: var(--text-small);
  color: black;
}

.social-link:hover {
  color: var(--title-color);
}

.social-icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.profile-description {
  text-align: left;
}

.education-content,
.experience-content {
  display: flex;
}

.education-time,
.experience-time {
  padding-right: 1rem;
}

.education-rounder,
.experience-rounder {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 0.25rem;
  background-color: var(--accent-color);
}

.education-line,
.experience-line {
  display: block;
  width: 2px;
  height: 100%;
  transform: translate(4px, 6px);
  background-color: var(--text-color-light);
}

.education-data,
.experience-data {
  gap: 0.5rem;
}

.education-title,
.experience-title {
  font-size: var(--h3-size);
}

.education-year,
.experience-company,
.references-subtitle {
  font-size: var(--text-small);
  color: var(--text-color-light);
  font-family: var(--mono-font);
}

.skills-content,
.languages-content {
  grid-template-columns: repeat(1, 1fr);
}

.skills-content,
.languages-content {
  gap: 0;
}

.skills-name,
.languages-name {
  display: flex;
  align-items: center;
}

.skill-circle,
.languages-circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}

.references-content {
  gap: 0.25rem;
}

.references-title {
  font-size: var(--h3-size);
}

.interests-container {
  grid-template-columns: repeat(3, 1fr);
}

.interests-content {
  list-style: none;
  padding-left: 0;
  font-size: var(--text-normal);
}

.interest-icon {
  font-size: 1.2rem;
  color: var(--text-color-light);
  vertical-align: middle;
  display: inline-block;
}

@media print {
  body {
    --h1-size: 1.998rem;
    --h2-size: 0.998rem;
    --h3-size: 0.865rem;
    --text-normal: 0.813rem;
    --text-medium: 0.813rem;
    --text-small: 0.75rem;
    --text-smaller: 0.688rem;
  }
  a {
    color: var(--text-color);
  }
  body {
    margin: 3rem 0;
  }

  header,
  .main-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr;
    background-color: var(--body-bg);
    box-shadow: 0 0 8px rgba(12, 12, 12, 0.15);
  }

  .resume {
    display: grid;
    grid-template-columns: 1fr 0.55fr;
  }

  .resume-top,
  .resume-left,
  .resume-right {
    padding: 0 1.875rem;
  }

  .section-title,
  .profile-description {
    text-align: initial;
  }

  .social-container {
    grid-template-rows: max-content;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .interests-container {
    grid-template-columns: 1fr;
  }
  .interests-content {
    display: -webkit-box;
    align-items: left;
  }
  .interest-icon {
    margin-right: 0.5rem;
  }
  .download-link {
    right: 12px;
  }
}

@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  header,
  .main-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr;
    background-color: var(--body-bg);
    box-shadow: 0 0 8px rgba(12, 12, 12, 0.15);
  }

  .resume {
    display: grid;
    grid-template-columns: 1fr 0.55fr;
  }

  .resume-top,
  .resume-left,
  .resume-right {
    padding: 0 1.5rem;
  }

  .section-title,
  .profile-description {
    text-align: initial;
  }

  .social-container {
    grid-template-rows: max-content;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .interests-container {
    grid-template-columns: 1fr;
  }
  .interests-content {
    align-items: left;
  }
  .interest-icon {
    margin-right: 0.5rem;
  }
  .download-link {
    right: 12px;
  }
}
